In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
## Subsetting Series

In [ ]:
h= pd.Series(np.array([1,7,9]))
print(h)

In [ ]:
h.loc[2]

In [ ]:
h.loc[:2]

In [ ]:
h.loc[[0,1]]

In [ ]:
h.iloc[2]

In [ ]:
h.iloc[:2]

In [ ]:
h.iloc[[0,1]]

Exercise 1: Extract a individual value (5), slice for row indexed with 2 till 3 and a list of indecices for the row indexed with 1 and 3 from the series named t created from the array([3,5,7,8]))

In [ ]:
t= pd.Series(np.array([3,5,7,8]))
t

In [ ]:
## Subsetting DataFrame

In [ ]:
States = pd.read_csv('states_by_country_code.csv')
print(States)

In [ ]:
States.loc[:, 'Country Code']

In [ ]:
States['Country Code']

In [ ]:
States.loc[:, ['Country Code']]

In [ ]:
States[['Country Code']]

In [ ]:
States[['Country Code','State Code']]

In [ ]:
States.loc[:,'State Code':'State Name']

In [ ]:
States.loc[:, :'State Name']

Exercise 2: Read the country_full.csv file, and select all columns after 'sub-region' columns and save it to a file named country_columnselection.csv (method for saving: your_data.to_csv('your_output'))

In [ ]:
States.loc[[0], :]

In [ ]:
States.loc[0:3, :]

In [ ]:
States.iloc[0:3, :]

In [ ]:
States.loc[[0, 2], :]

In [ ]:
States.iloc[[0, 2], :]

Exercise 3: Select the 2nd (refer to index) to 4th (refer to index) rows for State Code and Country Code columns in states_by_country_code.csv file. Do .iloc method for rows and .loc method for columns relying on a shortcut data.iloc[].loc[]

Exercise 4: Extract the 'BDS' from states_by_country_code.csv file by .iloc method

In [ ]:
country = pd.read_csv('country_full.csv')
print(country)
country['region-code'].iloc[0:5].to_numpy()

In [ ]:
country.iloc[0:5, 8:11].to_numpy()

In [ ]:
a = country['region-code'].iloc[0:5]

In [ ]:
a.to_list()

In [ ]:
country.iloc[0:5, 8:11].to_numpy().tolist()

Exercise 5: Read the currency.csv file, select a series as well as a dataframe and convert them to the array and to the list

In [ ]:
h= pd.Series(np.array([1,7,9]))
print(h)

In [ ]:
h.index = ['a', 'b', 'c']
print(h)

In [ ]:
States = pd.read_csv('states_by_country_code.csv')
print(States)

In [ ]:
States = States.set_index('State Code')
print(States)

In [ ]:
h.reset_index(drop=True)

In [ ]:
States = States.reset_index()
States

In [ ]:
States.sort_values('State Name')

In [ ]:
States.sort_values('State Name', ascending=False)

In [ ]:
###plotting

In [ ]:
country = pd.read_csv('country_full.csv')
print(country)

In [ ]:
country[['country-code', 'region-code']].hist();

Try it on 2nd row and all the columns

In [ ]:
country['country-code'].plot();

In [ ]:
country.set_index('name')['country-code'].plot();

In [ ]:
country.plot.scatter(x='country-code', y='region-code');

Exercise 6: Read the climate.csv file to a variable named 'climate', generate a line plot from 'Temperature (Celsius)', in the next step change the index to Country and in the 3rd step create a plot with all 3 variables. (put the title and axes labels)

In [ ]:
###Operators

In [ ]:
climate = pd.read_csv('climate.csv')
print(climate)

In [ ]:
climate['Temperature (Celsius)'].min()

In [ ]:
climate['Temperature (Celsius)'].max()

In [ ]:
climate['Temperature (Celsius)'].mean()

In [ ]:
climate[['Temperature (Celsius)','Humidity (%)']].mean()

In [ ]:
climate[['Temperature (Celsius)','Humidity (%)']]-10

In [ ]:
climate['df'] = climate['Temperature (Celsius)'] - climate['Humidity (%)']
print(climate)

In [ ]:
climate.set_index('Date')['df'].plot();

Exercise 7: create a column as the sum of the wind speed and humidity and create a scatter plot between the new column and the temperature

In [ ]:
climate['sum'] = climate['Wind Speed (km/h)'] + climate['Humidity (%)']
print(climate)

In [ ]:
climate.plot.scatter(x='sum', y='Temperature (Celsius)');

Exercise 8: Add a column named 'rain' with an duplicated value over all rows

In [ ]:
climate = climate.drop(['sum'], axis=1)
climate

In [ ]:
climate[climate['Date'] > 2023-5-3]

Reference: https://jupyter.org https://the-turing-way.netlify.app/communication/binder/zero-to-binder.html https://docs.python.org https://wsform.com/knowledgebase/sample-csv-files/ https://geobgu.xyz/py/