In [ ]:
## Numeric int, float

In [ ]:
a=1
type(a)

In [ ]:
b= 2.8
type(2.8)

In [ ]:
## Sequence list, tuple

In [ ]:
type([4, 6, 7])

In [ ]:
type((1, 5))

In [ ]:
## StringÂ str

In [ ]:
type("I like Math!")

In [ ]:
## Mapping dict

In [ ]:
type({"number of student": 8, "p": 5})

In [ ]:
##set

In [ ]:
type({"number of student", "p"})

In [ ]:
##Boolean

In [ ]:
1 == 2

In [ ]:
c=("I like Math!")

In [ ]:
print(c[2])

Excercise1: Assign a list to a variable and check the type and print an element using index!

Excercise2: Assign a flot to a variable and use the print() function to print out the following sentence "the type of 2.8 is <class 'float'>"

In [ ]:
##Arithmetic operators

In [ ]:
1+5*4

In [ ]:
(1+5)*4

In [ ]:
30%10

In [ ]:
15//2

In [ ]:
4**3

In [ ]:
##Conditional Statements

In [ ]:
grade=60

if grade>50:
    print("you pass the test")

In [ ]:
a=34
if a<20:
    print("you are a winner")
else:
    print("you are a loser")

In [ ]:
grade=60

if grade>50:
print("you pass the test")

Excercise3: Given two numbers a and b, write a Python code to check if a is divisible by b

In [ ]:
## for and while loop

In [ ]:
animals = ["dog", "cat", "bird"]
for x in animals:
    print(x)

In [ ]:
animals = ["dog", "cat", "bird"]
for x in animals:
    print(x)
    if x == "cat":
        break

In [ ]:
x = range(10, 20)
for n in x:
    print(n)

In [ ]:
x = range(10, 20,2)
for n in x:
    print(n)

Exercise4: What numbers between 2 and 30 are even and odd?

In [ ]:
i = 1
while i < 11:
    print(i)
    i += 1

Exercise5:print out the numbers from 100 to 0 in steps of 10, using while loop

In [ ]:
## Def function

In [ ]:
def add_numbers(num1, num2):
    sum = num1 + num2
    return sum
print(add_numbers(3, 5))

Exercise6:What is the area of a rectangle with a length of 2 and a width of 4? (use def function)

In [ ]:
## Python Arrays

In [ ]:
array_ex = [1, 2, 3, 4, 5]
print(array_ex)

In [ ]:
x = array_ex[0]
print(x)

In [ ]:
x = len(array_ex)
print(x)

In [ ]:
array_ex.append(5)
print(array_ex)

In [ ]:
array_ex.pop(1)
print(array_ex)

Exercise7:Write a Python program to find the largest number in a given array of numbers

In [ ]:
import numpy as np

In [ ]:
x = np.array([5, 4, -7, 11])
print(x)

In [ ]:
y = np.array([[4, 5, 0], [3, 7, 9], [2, 1, 2]])
print(y)

In [ ]:
z = np.array([[[1,2,3], [4,5,6], [7,8,9]], [[10,11,12], [13,14,15], [16,17,18]]])
print(z)

In [ ]:
b = np.arange(10).reshape(2, 5) 
print(b)

In [ ]:
type(b)

In [ ]:
b.ndim

In [ ]:
b.size

In [ ]:
b.dtype

In [ ]:
b = b.astype(np.float64)
print(b)

Exercise8:Create a 3-dimensional array using np.arange() and reshape

Exercise9:Create an array of dictionaries and print it

In [ ]:
z = np.array([[[1,2,3], [4,5,6], [7,8,9]], [[10,11,12], [13,14,15], [16,17,18]]])
print(z)

Exercise10:Extract the value 15 from the z array above by indexing

In [ ]:
##array slice

In [ ]:
z[1, 2, :]

In [ ]:
y[:2, :]

In [ ]:
y[1:, :]

Exercise11:Extract the first and 2rd rows and all columns from the z array above by indexing