In [ ]:
import numpy as np

In [ ]:
x = np.array([5, 4, -7, 11])
print(x)

In [ ]:
np.sum(x)

In [ ]:
y = np.array([[4, 5, 0], [3, 7, 9], [2, 1, 2]])
print(y)

In [ ]:
np.sum(y, axis=0)

In [ ]:
np.sum(y, axis=1)

In [ ]:
z = np.array([[[1,2,3], [4,5,6], [7,8,9]], [[10,11,12], [13,14,15], [16,17,18]]])
print(z)

In [ ]:
##row-column
np.sum(z, axis=0)

In [ ]:
##column-layer
np.sum(z, axis=1)

In [ ]:
##row-layer
np.sum(z, axis=2)

In [ ]:
f=np.sum(z, axis=2)
np.transpose(f)

Exercise1: Calculate the mean of all column in each layer from array z.

In [ ]:
##reading the data from the file

In [ ]:
b = np.genfromtxt('sample.txt', delimiter=';')
print(b)

In [ ]:
b = np.genfromtxt('sample.txt', delimiter=';', skip_header=1)
print(b)

In [ ]:
np.savetxt("y.txt", y, delimiter=",", header="name,id,region")

Exercise2: Create a 2D array and use the np.savetxt() function to save the data array to a text file named "mydata.txt" with a comma delimiter and a header line Col1,Col2,Col3,Col4

In [ ]:
## ploting an array

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
h = y.flatten()
h

In [ ]:
plt.hist(h);

In [ ]:
plt.plot(y[1, :]);

In [ ]:
plt.plot(y[:, 1]);

In [ ]:
plt.plot(y);

In [ ]:
plt.plot(y,color='red', label='red');

In [ ]:
plt.imshow(y);
plt.colorbar()

In [ ]:
##practice with plotting on different arrays

In [ ]:
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

plt.hist(data, bins=[0,2,4,6,8,10])
plt.title('My Histogram')
plt.xlabel('Interval')
plt.ylabel('Frequency')
plt.show()

Exercise3: Given an 2D array of numbers, plot a graph that displays the sum of each element in the column.

In [ ]:
## tables (pandas)

In [ ]:
import pandas as pd

In [ ]:
g = pd.Series(['a', 'b', 'c'])
print(g)

In [ ]:
h= pd.Series(np.array([1,7,9]))
print(h)

In [ ]:
h.shape

Exercise4: create a table (series data structure) from an array of numbers and check for the shape.

In [ ]:
i= pd.Series([7, 8, 9])
print(i)

In [ ]:
dataframe_dict = {'ID': g, 'value': h, 'condition': i}
dataframe = pd.DataFrame(dataframe_dict)
print(dataframe)

In [ ]:
dataframe.index

In [ ]:
dataframe.columns

Exercise5:create a table (dataframe structure) from multiple series (including boolean and numiric) and check the shape.

In [ ]:
country = pd.read_csv('country_full.csv')
print(country)

In [ ]:
country.columns

In [ ]:
country.index

In [ ]:
country.shape

In [ ]:
country.dtypes

In [ ]:
country.rename(columns={'region': 'REGION'})

Exercise6:rename the row index of 2 with 3

In [ ]:
States = pd.read_csv('states_by_country_code.csv')
print(States)

Exercise7:Read the states_by_country_code.csv file, check its properties, and rename some row and column indexes

In [ ]:
## Subsetting Series

In [ ]:
h= pd.Series(np.array([1,7,9]))
print(h)

In [ ]:
h.loc[2]

In [ ]:
h.loc[:2]

In [ ]:
h.loc[[0,1]]

In [ ]:
h.iloc[2]

In [ ]:
h.iloc[:2]

In [ ]:
h.iloc[[0,1]]

Extract a individual index (5), slice for row indexed with 2 nad 3 and a list of indecices for the row indexed with 1 nad 3 from t= pd.Series(np.array([3,5,7,8]))

In [ ]:
t= pd.Series(np.array([3,5,7,8]))
t

Reference: https://jupyter.org https://the-turing-way.netlify.app/communication/binder/zero-to-binder.html https://docs.python.org https://wsform.com/knowledgebase/sample-csv-files/ https://geobgu.xyz/py/